<h1>Video App</h1>
<h3>Store all of your favorite Youtube videos on one site!</h3>
<div>
    <p>Home</p>
    <p>About</p>
    <p>Sign in<p>
</div>

<% if current_user %>
  <p>Logged in!</p>
<% end %>
