<h1>Video App</h1>
<h3>Store all of your favorite Youtube videos on one site!</h3>

<% if current_user %>
  <p>Logged in as <%= current_user.first_name %></p>
  <p>
    <%= link_to 'Logout', sessions_path, method: :delete %>
  </p>
<% end %>
